

<div class="container-fluid">
	<div class="section1 col-md-12">
		<div class="row">
			<div class="col-md-2 leftpanels">
				<div class="usercam">
					<p> user cam </p>
				</div>
			<div class="row">
				<div class="chat">
				<p> chat </p>
				</div>
			</div>
			<div class="col-md-6 gameview">
				<p> game view </p>
			</div>
		</div>
	</div>

		<div class="row">
			<div class="col-md-8 maintopchan">
				<div class="col-md-2 maintop1">
					<p> top channel 1 </p>
				</div>
				<div class="col-md-2 maintop2">
					<p> top channel 2 </p>
				</div>
				<div class="col-md-2 maintop3">
					<p> top channel 3 </p>
				</div>
				<div class="col-md-2 maintop4">
					<p> top channel 4 </p>
				</div>
			</div>
		</div>
	</div>

	<div class="section2 col-md-12">
		<div class="row">
			<div class="section2nav col-md-4">
				<a href="#"> menu1 </a> | <a href="#"> menu2 </a>
			</div>
		</div>

		<div class="row">
			<div class="mainonline col-md-10">
				<div class="row">
					<div class="box1 col-md-2">
						<p> online 1 </p>
					</div>
					<div class="box2 col-md-2">
						<p> online 1</p>
					</div>
					<div class="box3 col-md-2">
						<p> online 3 </p>
					</div>
					<div class="box4 col-md-2">
						<p> online 4 </p>
					</div>
					<div class="box5 col-md-2">
						<p> online 5 </p>
					</div>
				</div>
				<div class="row">
					<div class="box6 col-md-2">
						<p> online 6 </p>
					</div>
					<div class="box7 col-md-2">
						<p> online 7</p>
					</div>
					<div class="box3 col-md-2">
						<p> online 8 </p>
					</div>
					<div class="box4 col-md-2">
						<p> online 9 </p>
					</div>
					<div class="box5 col-md-2">
						<p> online 10 </p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer col-md-12">
		<div class="row">
			<div class="footerlinks col-md-6">
				<div class="row">
					<div class="footer1 col-md-2">
						<p> box 1 </p>
					</div>
					<div class="footer2 col-md-2">
						<p> box 2 </p>
					</div>
					<div class="footer3 col-md-3">
						<p> box 3 </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



