<div ng-controller="profileCtrl">
	<h1 ng-model="controllers" ng-repeat="message in messages">{{message}}</h1>
</div>
<div ng-controller='submerchantCtrl'>
<form ng-submit="createSubMerchant()">
	<input type="text" placeholder="Payment Detail first name" ng-model="submerchantfirstName"></input>
	<input type="text" placeholder="Payment Detail last name" ng-model="submerchantlastName"></input>
	<input type="text" placeholder="Payment Detail Email" ng-model="submerchantEmail"></input>
	<input type="text" placeholder="Payment Detail Phone" ng-model="submerchantPhone"></input>
	<input type="text" placeholder="Payment Detail Date of Birth" ng-model="submerchantDateOfBirth"></input>
	<input type="text" placeholder="Payment Detail SSN" ng-model="submerchantSsn"></input>
	<input type="text" placeholder="Payment Detail Street Address" ng-model="submerchantStreetAddress"></input>
	<input type="text" placeholder="Payment Detail Locality" ng-model="submerchantLocality"></input>
	<input type="text" placeholder="Payment Detail Region" ng-model="submerchantRegion"></input>
	<input type="text" placeholder="Payment Detail PostalCode" ng-model="submerchantPostalCode"></input>
	<button type="submit">Submit</button>
</form>
</div>