<div ng-controller="profileCtrl">
	<h1> Profile </h1>
</div>
<div ng-controller='submerchantCtrl'>
	<form class='form-group' ng-submit="createSubMerchant()">
		<input class='form-control' type="text" placeholder="Payment Detail first name" ng-model="firstName"></input>
		<input class='form-control' type="text" placeholder="Payment Detail last name" ng-model="lastName"></input>
		<input class='form-control' type="text" placeholder="Payment Detail Email" ng-model="email"></input>
		<input class='form-control' type="text" placeholder="Payment Detail Phone" ng-model="phone"></input>
		<input class='form-control' type="text" placeholder="Payment Detail Date of Birth" ng-model="dateOfBirth"></input>
		<input class='form-control' type="text" placeholder="Payment Detail SSN" ng-model="ssn"></input>
		<input class='form-control' type="text" placeholder="Payment Detail Street Address" ng-model="streetAddress"></input>
		<input class='form-control' type="text" placeholder="Payment Detail Locality" ng-model="locality"></input>
		<input class='form-control' type="text" placeholder="Payment Detail Region" ng-model="region"></input>
		<input class='form-control' type="text" placeholder="Payment Detail PostalCode" ng-model="postalCode"></input>
		<button type="submit">Submit</button>
	</form>
</div>