<div ng-controller="userchannelCtrl">
	<h1> User Channels </h1>
	</h1>
</div>
<div class="userchansection1">
	<div class = "row">
		<div id="stream-info viewcount">Viewers: <span id="here-now">0</span></div>
			<div class="userchantop col-md-10 col-md-offset-1">
				<div class='userchanleftpanel col-md-4'>
					<div class="row">
						<div class="videobroadcast">
							<form class="form-group" name="streamForm" id="stream" action="#" ng-submit='submit()' onsubmit="return stream(this);">
								<input class="form-control" type="text" name="streamname" id="streamname" placeholder="Pick a stream name!">	<button name="stream_submit" action="submit()">Stream</button>
							</form>
							<div id="vid-box">
								<!-- Stream goes here -->	
							</div>
						</div>
					</div>
				<div class="row">
					<div class="channelchat">
						<p> Chat </p>
					</div>
				</div>
			</div>

			<div class='gameviewlive col-md-8'>

			</div>
		</div>
	</div>
</div>

<div class="userchansection2">
	<div class="row">
		<div class="addpostbutton col-md-1">
			<button type="button" class="btn" data-toggle="modal" data-target="#createPost">
				Create Post
			</button>
			<!--  Create Post Modal -->
			<div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">
								Create a Post
							</h4>
						</div>
						<div class="modal-body" ng-controller="postsController">
							<div class="createpost">	
								<form class='form-group' ng-submit="createBlogPost()">
									<input type="text" class="form-control" placeholder="Blog_Post title" ng-model="title"></input>
									<input type="text" class="form-control" placeholder="Blog_Post description" ng-model="description"></input>
									<input type="text" class="form-control" placeholder="Blog_Post tags" ng-model="tags"></input> 
									<input type="text" class="form-control" placeholder="Blog_Post author" ng-model="author"></input>
									<input type="text" class="form-control" placeholder="Blog_Post image" ng-model="image"></input>
									<button type="submit"> Create </button>
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Close
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  End Post Modal -->
		<div class="userchanmid col-md-10">
			<div class="box1 col-md-6">
				<div class="aboutme col-md-12">
					<h3> About Me </h3>
				</div>
			<div class="userabout col-md-12">
				<p> This is the about me section. This is where the user describes the channel and the blog </p>
			</div>
			<div class="channelblog col-md-12" data-ng-controller="postsController">
				<div class="blogposts  col-md-12">
					<h3> latest posts </h3>
					<li class='blogpost' ng-repeat="blog_post in blog_posts">
						<h1>{{blog_post.title}}</h1>
						<p>{{blog_post.description}}</p>
						<p>Tags: {{blog_post.tags_array.toString()}}</p>
						<img ng-src="{{blog_post.image}}" />
						<td><button ng-click="deleteBlogPost(blog_post)"> Delete {{blog_post.title}}</button></td>
					</li>
				</div>
			</div>
		</div>

		<div class="box2 col-md-6">
			<div class="storeheadline col-md-12">
				<h3> My Store </h3>
			</div>
		<div class="storeabout col-md-12">
			<p> This is the user store. This is where the user can sell items on the channel </p>
		</div>
		<div class="userstore col-md-12" ng-controller="storesController">
			<div class="row">
				<div class="storeitems col-md-12">
					<h3> Latest Items </h3>
					<div class='item col-md-12' ng-repeat='store_item in store_items'>
						<div class='productimage col-md-4'>
							{{store_item.image}} 
						</div>
						<div class='col-md-4'>
							<p> {{store_item.title}} </p><br>
							<p> {{store_item.description}} </p><br>
							<p> {{store_item.price}} </p>
							<p> {{store_item.quantity}} </p>
						</div>
						<div class='col-md-2'>
							<a ui-sref='userchannel.cart'><button class='btn buybutton'> Buy </button></a>
							<ui-view></ui-view>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>

<div class="additembutton col-md-1">

	<button type="button" class="btn" data-toggle="modal" data-target="#createItem">Create Item</button>
	<!-- Create Shopping Item Modal -->
	<div class="modal fade" id="createItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Create a Item</h4>
				</div>
				<div class="modal-body" ng-controller="storesController">
					<div class="createstoreitem">	
						<form class="form-group" ng-submit="createStoreItem()">
							<input class="form-control" type="text" placeholder="Store_Item title" ng-model="title"></input>
							<input class="form-control" type="text" placeholder="Store_Item description" ng-model="description"></input>
							<input class="form-control" type="text" placeholder="Store_Item image" ng-model="image"></input> 
							<input class="form-control" type="text" placeholder="Store_Item price" ng-model="price"></input>
							<input class="form-control" type="text" placeholder="Store_Item Quantity" ng-model="quantity"></input>
							<button type="submit"> Create </button>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>	
	<!-- End Shopping Item Modal -->
</div>
</div>
</div>


<h3> Watch this channel </h3>
<form class="form-group" name="watchForm" id="watch" action="#" onsubmit="return watch(this);">
<input class="form-control" type="text" name="number" placeholder="Enter stream to join!" />
<input class="form-control" type="submit" value="Watch"/>
</form>

<div id="inStream">
<button id="end" onclick="end()">Done</button> <br>
Generate Embed: <button onclick="genEmbed(400,600)">Tall</button><button onclick="genEmbed(600,400)">Wide</button><button onclick="genEmbed(500,500)">Square</button><br>
<div id="embed-code"></div>
</div>

