nav {
	height: 80px;
	text-align: center;
	background-color: #D0D0D0;
}
nav li {
	margin-top: 20px;
	float: right;
	display: inline-block;
	padding: 10px;
	font-size: 18px;
}
footer {
	height: 800px;
	background-color: pink;

}

.nopadding {
   padding: 0 !important;
  }

.nomargin {
	margin: 0 !important;
}
.headline {
	text-align: center;
}
.section1 {
	background-color: grey; 
}
.sectmainbox {
	margin-top: 20px;
	padding: 0;
}

.leftpanels {
	background-color: black;
	text-align: center;
	padding: 0px;
	height: 400px;
}

.usercam {
	height: 200px;
	width: 100%;
	background-color: blue;
	padding: 0px;

}

.chat {
	height: 200px;
	width: 100%;
	background-color: white;
	margin-left: 15px;
}

.gameview {
	height: 400px;
	background-color: green;
	padding: 0;

}

.maintopchan {
	padding: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 100px;
	background-color: red;
	text-align: center;
	list-style-type: none;
}
.topchan {
	background-color: orange;
	list-style-type: none;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 60px;
}
.topchan li {
	display: inline-block;
	margin: 10px;
	list-style-type: none;
}
.livenow {
	background-color: green;
	height: 100%;
	margin-bottom: 80px;
}
.livenow2 {
	background-color: white;
	height: 100%;
	margin-bottom: 80px;
}
.chanlive {
	background-color: orange;
	height: 200px;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 32px;
	list-style-type: none;
}

.chanliveimage {
	background-color: red;
	height: 100px;
}

.chanlivetext {
	margin-top: 50px;
	margin-bottom: 20px;
	height: 100%;
	color: white;
	background-color: grey;
	list-style-type: none;

}

.channame {
	padding-left: 10px;
	float: left;
}

.chanstatus {
	padding-right: 10px;
	float: right;
}

.section2 {
	background-color: black;
	text-align: center;
	height: 100%;
}

.section2nav {

}

.mainonline {
	margin-left: 150px;
}

.mainonline li {
	margin-left: 10px;
	list-style-type: none;
}

.footer {
	height: 400px;
	text-align: center;
	background-color: grey;
}

.footer1 {
	margin-top: 50px;
	margin-left: 50px;
	background-color: black;
	height: 300px;
}
.footer2 {
	margin-top: 50px;
	background-color: black;
	height: 300px;
}
.footer3 {
	margin-top: 50px;
	background-color: black;
	height: 300px;
}